<div class="container">
  <div class="item settings">
    <h2>Settings</h2>
    <div>
      <mat-slide-toggle disabled="true" checked="true">Infinite</mat-slide-toggle>
    </div>
    <div>
      <mat-slider max="100" min="0" step="5" [tickInterval]="tickInterval" [(ngModel)]="speed" [disabled]="speedDisabled">
      </mat-slider> Speed {{ speed }}
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="play()">Play</button>
      <button mat-stroked-button color="warn" (click)="stop()">Stop</button>
      <button mat-stroked-button color="warn" (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="item main">
    <app-grid [grid]="grid.grid"></app-grid>
  </div>
  <div class="item stats">
    <h2>Stats</h2>
  </div>
</div>